<body>
  <div class="chatbox">
    <div class="chatlogs">

      <div class="chat self">
          <div class="user-photo"></div>
          <p class="chat-message">
            <strong>Bot</strong><br />
            <span>Hallo {{name}}!</span>

          </p>
      </div>

      <!--
      `let msg of chatArray` does the magic.
      chatArray ist eine List mit allen Nachrichten.
      Neue Nachrichten kommen da auch rein.
      Wir iterieren über die Liste in einer Schleife und bei jedem Durchlauf
      bekommen wir die jeweilige Nachricht in der Variable `msg`.
      -->
      <div class="chat friend" *ngFor="let msg of chatArray">
        <div class="user-photo"></div>
        <p class="chat-message">
          <strong>{{name}}</strong><br />
          <span > <p class= "text"> {{msg}}  </p> <br />
          <p class= "time">{{time |date: 'hh:mm dd-MM-yy' }} </p>
          </span>
        </p>
      </div>

    </div>

    <div target="_self chatlogs">
      <div class="chat-form">
        <textarea [(ngModel)]="chatMessage" (keyup.enter)="addMessage(chatMessage)" class="form-control" rows="2" placeholder="Nachricht verfassen"></textarea>
        <button (click)="addMessage(chatMessage)" [disabled]="!chatMessage" class="btn btn-primary">Senden</button>
      </div>
    </div>

  </div>
</body>
